body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f9fbfd;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  border-left: 1px solid #1f203a;
  text-align: center;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #1f203a;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #F2EDDC;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e5e5e5;
  color: white;
}

.present {
  background-color: #f6d55c;
  color: white;
}

.future {
  background-color: #acd0c0;
  color: white;
}

.saveBtn {
  border-left: 2px solid rgb(82, 82, 82);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:#1f203a;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}